{% extends "_home_base.twig" %}
{% block content %}
        
    <div id="grid" class="container album-container">
        <div id="mode-group" class="btn-group btn-group-sm" data-toggle="buttons">
            <label class="btn btn-default disabled default_pointer">
                <input type="radio" id="option1"> Mode:
            </label>
            <label class="btn btn-info active">
                <input type="radio" name="mode" value="view" id="option2"> View
            </label>
            <label class="btn btn-info">
                <input type="radio" name="mode" value="download" id="option3"> Download
            </label>
            <label class="btn btn-info">
                <input type="radio" name="mode" value="upload" id="option4"> Upload to G+
            </label>
        </div>
        <div class="clear"></div>
        <div id="download-mode-group" class="btn-group btn-group-xs hide" role="group">
            <button type="button" class="btn btn-default group-label default_pointer" disabled="disabled">Download</button>
            <button type="button" class="btn btn-info selected-albums" disabled="disabled">Selected Albums</button>
            <button type="button" class="btn btn-info all-albums">All Albums</button>
        </div>
        <div class="clear"></div>
        <p class="bg-primary link-alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Download link:</strong> <a class='btn btn-primary btn-xs link' href="#">Download</a>
        </p>

        <p class="bg-primary upload-alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Done:</strong> Facebook album has been uploaded on your picasa account.
        </p>
        
        <ul id="albums" class="">
            {% for album in albums %}
            <li id="{{album.id}}" class="album load-album">
                <div class="">
                    <!-- <span class="d-hide">{{album.name}}</span> -->
                    <span></span>
                    <img class="img-circle_" alt="{{album.name}}" title="{{album.name}}" src="{{album.picture.url}}">
                    
                    <div class="download-btn">
                        <p class="button hide">
                            <button type="button" class="btn btn-primary btn-xs download">Download</button>
                        </p>
                        <p class="name">
                            {{album.name}}
                        </p>
                    </div>
                    
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    

    <div class="modal fade modal-fullscreen force-fullscreen" id="openModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" aria-hidden="true">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span>Close</span>
                    </button>
                    <!-- <h4 class="modal-title">Album</h4> -->
                    
                </div>
                <div class="modal-body">
                    <div id="myCarousel2" class="carousel slide carousel-fit"  data-interval="2000">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <!-- Controls -->
                    <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock %}
