{% extends "_home_base.twig" %}
{% block content %}
        
    <div id="grid" class="container album-container">
        <div id="mode-group" class="btn-group btn-group-sm" data-toggle="buttons">
            <label class="btn btn-default disabled">
                <input type="radio" id="option1"> Mode:
            </label>
            <label class="btn btn-info active">
                <input type="radio" name="mode" value="view" id="option2"> View
            </label>
            <label class="btn btn-info">
                <input type="radio" name="mode" value="download" id="option3"> Download
            </label>
            <label class="btn btn-info">
                <input type="radio" name="mode" value="upload" id="option4"> Upload to G+
            </label>
        </div>
        <div class="clear"></div>
        <div id="download-mode-group" class="btn-group btn-group-xs hide" role="group">
            <button type="button" class="btn btn-info selected-albums " disabled="disabled">Selected Albums</button>
            <button type="button" class="btn btn-info">All Albums</button>
            <!-- <label class="btn btn-default disabled">
                <input type="radio" id="option1"> Download:
            </label>
            <label class="btn btn-info active">
                <input type="button" name="selected" value="multiple" id="option2"> Selected Albums
            </label>
            <label class="btn btn-info">
                <input type="button" name="selectall" value="all" id="option3"> All Albums
            </label> -->
        </div>
        <div class="clear"></div>
        <div class="alert alert-success alert-dismissible link-alert fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Download link:</strong> <span class='link'></span>
        </div>
        <ul id="albums" class="">
            {% for album in albums %}
            <li id="{{album.id}}" class="album load-album">
                <div class="">
                    <span></span>
                    <img class="img-circle_" alt="Album Cover" src="{{album.picture.url}}">
                    <!-- <strong class="d-hide">{{album.name}}</strong> -->
                    <div class="download-btn">
                        <p>
                            <button type="button" class="btn btn-primary btn-xs download">Download</button>
                            <!-- <label class="pull-right">
                                <input type="checkbox">
                            </label> -->
                        </p>
                    </div>
                    
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- <div id="grid" class="container">
        <ul class="listrap">
            {% for album in albums %}
            <li id="{{album.id}}" class="">
                <div class="listrap-toggle">
                    <span></span>
                    <img class="img-circle" alt="Album Cover" src="{{album.picture.url}}" style="width:60px;height:60px;">
                </div>
                <strong class="d-hide">{{album.name}}</strong>
            </li>
            {% endfor %}
        </ul>
    </div> -->
    <div class="modal fade bs-example-modal-lg modal-vcenter_ modal-fullscreen force-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="openModal">
        <div class="modal-dialog modal-lg">
            
            <div class="modal-content">
                <div class="modal-body">
                    <!-- <div class="inner-circles-loader hide">
                        Loading…
                    </div> -->
                    <div id="carousel-example-generic" class="carousel slide carousel-fit">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner listrap" role="listbox">
                            
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
